<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'resume_app/style.css' %}">
    <title>Resume</title>
</head>
<body>
    <section class="resume">
   <header>
   <div class="user">

    </div>
    </header>
            <div class="fas fa-bars" id="menu"></div>
        <section class="home" id="home">
        <h1 class="name">Thanks for contacting us {{name}} via {{email}}</h1>
        <h3 class="stack">We would get back to you concerning your question on {{title}}</h3>
        <h3 class="stack">Also thanks for your detailed description on <br> <h3 class="stack">{{message}}</h3></h3>
      </section>
    </section>



 </body>
</html>